@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>DMIT2018 - Final Project</h1>
    <h2>Bikes R Us® Inc.</h2>
    <p class="lead">Built with ASP.NET MVC</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p class="text-size">To see a demo of this application in action, click the Receiving button in the tool bar at the top of the page.</p>

    </div>
    <div class="col-md-8">
        <h2 class="text-center">View Source Code</h2>
        <p class="text-size">
            The source code for this project can be found on GitHub, the buttons below will navigate to the source code for
            the full project as well as specific files like the View and Controller and external JavaScrip file.
        </p>
        <div class="col-md-12">
            <ul class="list-inline list-unstyled">
                <li><a class="btn btn-primary" role="button" href="https://github.com/mbublitz1/eBikesMVC/tree/master/eBikes" target="_blank">Project Code</a></li>
                <li><a class="btn btn-primary" role="button" href="https://github.com/mbublitz1/eBikesMVC/blob/master/eBikes/Views/Receiving/Index.cshtml" target="_blank">View Code</a></li>
                <li><a class="btn btn-primary" role="button" href="https://github.com/mbublitz1/eBikesMVC/blob/master/eBikes/Controllers/ReceivingController.cs" target="_blank">Controller Code</a></li>
                <li><a class="btn btn-primary" role="button" href="https://github.com/mbublitz1/eBikesMVC/blob/master/eBikes/Scripts/ProjectJS/Receiving.js" target="_blank">Script file</a></li>
                <li><a class="btn btn-primary" role="button" href="https://github.com/mbublitz1/eBikesMVC/blob/master/eBikes/Models/BLL/ReceivingOrderBLL.cs" target="_blank">BLL Code</a></li>
            </ul>
        </div>
    </div>
</div>